/* line 1, ../../../MyProgects/mygallery/styles/scss/itemNav.scss */
button:focus {
  outline: none;
}

/* line 5, ../../../MyProgects/mygallery/styles/scss/itemNav.scss */
.itemNaw {
  position: absolute;
  top: 5px;
  text-align: right;
}

/* line 11, ../../../MyProgects/mygallery/styles/scss/itemNav.scss */
.itemNaw button {
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0404043d;
  padding: 5px;
  color: #b95700;
  font-size: 25px;
  transition: all 0.3s;
  opacity: 0.8;
}

/* line 22, ../../../MyProgects/mygallery/styles/scss/itemNav.scss */
.itemNaw button:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* line 30, ../../../MyProgects/mygallery/styles/scss/itemNav.scss */
[data-hoverSkale="true"] .itemNaw {
  display: block;
}

/* line 3, ../../../MyProgects/mygallery/styles/scss/styles.scss */
body {
  margin: 0;
}

/* line 8, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-nav-wrapp {
  margin: 15px 0px;
  padding: 5px;
}

/* line 12, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-nav-wrapp .gallery-naw {
  text-align: center;
}

/* line 15, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-nav-wrapp .gallery-naw button {
  border: none;
  padding: 5px;
  width: 100px;
  text-transform: uppercase;
  background-color: darkslategrey;
  color: antiquewhite;
  font-weight: bold;
}

/* line 27, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box {
  position: relative;
}

/* line 31, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box.one-row {
  width: 100%;
  overflow: hidden;
}

/* line 35, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box.one-row .track-box {
  width: 800%;
  overflow: hidden;
}

/* line 44, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box.view-table .track-box {
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 55, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp {
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: center;
}

/* line 61, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp div,
.gallery-wrapp .gallery-box .item-Wrapp ul,
.gallery-wrapp .gallery-box .item-Wrapp li,
.gallery-wrapp .gallery-box .item-Wrapp p {
  width: 100%;
}

/* line 69, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box {
  -webkit-box-shadow: 10px 17px 39px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 17px 39px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 17px 39px 9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/* line 80, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box img {
  height: 100%;
}

/* line 85, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box:hover {
  z-index: 6 !important;
  opacity: 1 !important;
  transform: rotate(0deg);
}

/* line 91, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box.animation-scale {
  transition: all 0.5s;
}

/* line 95, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box.animation-scale:hover {
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: 1;
}

/* line 109, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box.animation-scale.transl-to-right:hover {
  -o-transform: translateX(30%) scale(1.4);
  -ms-transform: translateX(30%) scale(1.4);
  -moz-transform: translateX(30%) scale(1.4);
  -webkit-transform: translateX(30%) scale(1.4);
  transform: translateX(30%) scale(1.4);
}

/* line 119, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .img-box.animation-scale.transl-to-left:hover {
  -o-transform: translateX(-30%) scale(1.4);
  -ms-transform: translateX(-30%) scale(1.4);
  -moz-transform: translateX(-30%) scale(1.4);
  -webkit-transform: translateX(-30%) scale(1.4);
  transform: translateX(-30%) scale(1.4);
}

/* line 136, ../../../MyProgects/mygallery/styles/scss/styles.scss */
html {
  box-sizing: border-box;
}

/* line 140, ../../../MyProgects/mygallery/styles/scss/styles.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 146, ../../../MyProgects/mygallery/styles/scss/styles.scss */
figure {
  margin: 0;
}

/* line 151, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* line 167, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
}

/* line 175, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.fog__container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 184, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.fog__img {
  position: absolute;
  height: 100vh;
  width: 300vw;
}

/* line 190, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.fog__img--first {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

/* line 197, ../../../MyProgects/mygallery/styles/scss/styles.scss */
.fog__img--second {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes itemAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/*# sourceMappingURL=styles.css.map */