.viewer-wrapp {
    z-index: 15;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000d1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

    &[data-opacity="opacityOn"] {

        animation: opacityOn 0.5s;
    }

    &[data-opacity="opacityOff"] {
        animation: opacityOff 0.7s;
    }

    .preVieuBtn {
        display: none;
    }

    .viewer {
        max-width: 60%;
        position: relative;

        .btnInViewuer {
            position: absolute;
            margin: 10px;
            border: none;
            background-color: #0404043d;
            padding: 5px;
            color: #b95700;
            font-size: 20px;
            font-weight: 300;
            transition: all 0.3s;
            opacity: 0.6;

            &:hover {
                opacity: 1;
                transform: scale(1.3)
            }
        }

        .close-viewuer {
            top: 20px;
            right: 20px;
        }

        .previous-item {
            top: 50%;
            left: 0;
            font-size: 200%;
        }

        .next-item {
            right: 0;
            top: 50%;
            font-size: 200%;
        }

        img {
            width: 100%;
            height: auto;
        }

    }
}

@keyframes opacityOn {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityOff {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}