/* line 1, ../../../MyProgects/mygallery/app/styles/scss/components/itemNav.scss */
button:focus {
  outline: none;
}

/* line 5, ../../../MyProgects/mygallery/app/styles/scss/components/itemNav.scss */
.itemNav-wrap {
  position: absolute;
  top: 5px;
  text-align: right;
}

/* line 10, ../../../MyProgects/mygallery/app/styles/scss/components/itemNav.scss */
.itemNav-wrap .itemNaw {
  display: none;
  opacity: 0;
  transition: all 0.4s;
}

/* line 15, ../../../MyProgects/mygallery/app/styles/scss/components/itemNav.scss */
.itemNav-wrap .itemNaw button {
  margin: 10px;
  border: none;
  background-color: #0404043d;
  padding: 5px;
  color: #b95700;
  font-size: 1.5em;
  font-weight: 300;
  transition: all 0.3s;
  opacity: 0.6;
}

/* line 27, ../../../MyProgects/mygallery/app/styles/scss/components/itemNav.scss */
.itemNav-wrap .itemNaw button:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* line 38, ../../../MyProgects/mygallery/app/styles/scss/components/itemNav.scss */
.item-Wrapp:hover .itemNaw {
  display: block;
  opacity: 1;
}

/* line 1, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp {
  z-index: 15;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000d1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

/* line 15, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp[data-opacity="opacityOn"] {
  animation: opacityOn 0.5s;
}

/* line 20, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp[data-opacity="opacityOff"] {
  animation: opacityOff 0.7s;
}

/* line 24, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .preVieuBtn {
  display: none;
}

/* line 28, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer {
  width: 60%;
  position: relative;
}

/* line 32, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer .btnInViewuer {
  position: absolute;
  margin: 10px;
  border: none;
  background-color: #0404043d;
  padding: 5px;
  color: #b95700;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.3s;
  opacity: 0.6;
}

/* line 44, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer .btnInViewuer:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* line 50, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer .close-viewuer {
  top: 20px;
  right: 20px;
}

/* line 55, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer .previous-item {
  top: 50%;
  left: 0;
  font-size: 200%;
}

/* line 61, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer .next-item {
  right: 0;
  top: 50%;
  font-size: 200%;
}

/* line 67, ../../../MyProgects/mygallery/app/styles/scss/components/viewer.scss */
.viewer-wrapp .viewer img {
  width: 100%;
  height: auto;
}

@keyframes opacityOn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* line 2, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 12, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
figure {
  margin: 0;
}

/* line 17, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* line 33, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
.fog {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -1;
}

/* line 40, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
.fog__container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 49, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
.fog__img {
  position: absolute;
  height: 100vh;
  width: 300vw;
}

/* line 55, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
.fog__img--first {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

/* line 62, ../../../MyProgects/mygallery/app/styles/scss/components/fog.scss */
.fog__img--second {
  background: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png") repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes itemAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* line 5, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background: url("../../img/wall2.jpg") center fixed;
}

/* line 14, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.main-nav {
  position: fixed;
  right: 50px;
  z-index: 20;
}

/* line 19, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.main-nav ul {
  list-style: none;
}

/* line 22, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.main-nav ul li {
  border-radius: 2px;
  display: inline-block;
  list-style: none;
  margin: 10px;
  border: none;
  background-color: #000000a8;
  padding: 5px 10px;
  color: #b95700;
  font-size: 28px;
  font-weight: 300;
  transition: all 0.3s;
  opacity: 0.8;
}

/* line 36, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.main-nav ul li:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* line 41, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.main-nav ul li a {
  text-decoration: none;
  color: inherit;
}

/* line 50, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.titles {
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  color: chocolate;
  border-bottom: 2px solid chocolate;
  margin-bottom: 20px;
}

/* line 58, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.titles article {
  background-color: #000000a8;
  width: 50%;
  margin: auto;
  border-radius: 2px;
}

/* line 64, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.titles article h1 {
  margin-top: 0;
}

/* line 68, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.titles article hr {
  border-color: chocolate;
}

/* line 77, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-nav-wrapp {
  margin: 15px 0px;
  padding: 5px;
}

/* line 81, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-nav-wrapp .gallery-naw {
  text-align: center;
}

/* line 84, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-nav-wrapp .gallery-naw button {
  border: none;
  padding: 5px;
  width: 100px;
  text-transform: uppercase;
  background-color: darkslategrey;
  color: antiquewhite;
  font-weight: bold;
}

/* line 96, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box {
  position: relative;
}

/* line 100, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box.one-row {
  width: 100%;
  overflow: hidden;
}

/* line 104, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box.one-row .track-box {
  width: 800%;
  overflow: hidden;
}

/* line 113, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box.view-table .track-box {
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 124, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp {
  position: relative;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: center;
}

/* line 130, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp div,
.gallery-wrapp .gallery-box .item-Wrapp ul,
.gallery-wrapp .gallery-box .item-Wrapp li,
.gallery-wrapp .gallery-box .item-Wrapp p {
  width: 100%;
}

/* line 138, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp {
  -webkit-box-shadow: 10px 17px 39px 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 17px 39px 9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 17px 39px 9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/* line 149, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp img {
  height: 100%;
  min-width: 100%;
}

/* line 155, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp:hover {
  z-index: 6 !important;
  opacity: 1 !important;
  transform: rotate(0deg);
}

/* line 161, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp.animation-scale {
  transition: all 0.5s;
}

/* line 165, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp.animation-scale:hover {
  -o-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
  opacity: 1;
}

/* line 179, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp.animation-scale.transl-to-right:hover {
  -o-transform: translateX(30%) scale(1.7);
  -ms-transform: translateX(30%) scale(1.7);
  -moz-transform: translateX(30%) scale(1.7);
  -webkit-transform: translateX(30%) scale(1.7);
  transform: translateX(30%) scale(1.7);
}

/* line 189, ../../../MyProgects/mygallery/app/styles/scss/styles.scss */
.gallery-wrapp .gallery-box .item-Wrapp.animation-scale.transl-to-left:hover {
  -o-transform: translateX(-30%) scale(1.7);
  -ms-transform: translateX(-30%) scale(1.7);
  -moz-transform: translateX(-30%) scale(1.7);
  -webkit-transform: translateX(-30%) scale(1.7);
  transform: translateX(-30%) scale(1.7);
}

/*# sourceMappingURL=styles.css.map */